/data  *.pmel.noaa.gov(rw,insecure,sync) 161.55.192.0/24(rw,insecure,sync) 161.55.191.0/24(rw,insecure,sync)
/users  *.pmel.noaa.gov(rw,insecure,sync) 161.55.192.0/24(rw,insecure,sync) 161.55.191.0/24(rw,insecure,sync)
