uid = 0
gid = 0
comment = transfer
read only = false
#write only = true
use chroot = yes
;transfer logging = yes
log file = /data/rsync/rsync.log

#[data]
#comment = for data backup on challenger
#hosts allow = 161.55.192.3 161.55.191.3
#path = /data
#read only = true
