; This file needs to be copied to /var/opt/BESClient/

[Software\BigFix\EnterpriseClient]
EnterpriseClientFolder         = /opt/BESClient

[Software\BigFix\EnterpriseClient\GlobalOptions]
StoragePath                    = /var/opt/BESClient
LibPath                        = /opt/BESClient/BESLib

[Software\BigFix\EnterpriseClient\Settings\Client\__RelaySelect_Automatic]
value                          = 0
effective date                 = Thu,%2001%20Mar%202013%2012:00:00%20-0500

[Software\BigFix\EnterpriseClient\Settings\Client\__RelayServer1]
value                          = http://161.55.41.71:52311/bfmirror/downloads/
effective date                 = Thu,%2001%20Mar%202013%2012:00:00%20-0500

[Software\BigFix\EnterpriseClient\Settings\Client\__RelayServer2]
value                          = http://140.172.118.20:52311/bfmirror/downloads/
effective date                 = Thu,%2001%20Mar%202013%2012:00:00%20-0500
